In [14]:
import pandas as pd
csv_path= r"/Users/tanisha/Documents/Code/Project/data_raw/books.csv"
df = pd.read_csv(csv_path, engine="python", quotechar='"',on_bad_lines="skip")
print(df.shape)
df.head()

(11119, 12)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [16]:
print("Columns:\n",df.columns)
print("Dtypes:\n", df.dtypes)

Columns:
 Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')
Dtypes:
 bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
  num_pages             int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [22]:
import io
buf = io.StringIO()
df.info(buf=buf)
print(buf.getvalue())
print("missing value per column:\n",df.isna().sum())
#shows number of missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11119 entries, 0 to 11118
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11119 non-null  int64
 1   title               11119 non-null  object
 2   authors             11119 non-null  object
 3   average_rating      11119 non-null  float64
 4   isbn                11119 non-null  object
 5   isbn13              11119 non-null  int64
 6   language_code       11119 non-null  object
 7     num_pages         11119 non-null  int64
 8   ratings_count       11119 non-null  int64
 9   text_reviews_count  11119 non-null  int64
 10  publication_date    11119 non-null  object
 11  publisher           11119 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

missing value per column:
 bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

missing value per column:
 bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64